body
{
    color: #fff;
    margin:0;
    font: normal 14px/20px Arial, Helvetica, sans-serif;
    background-color: #fff;
    background-image: url(duck.jpg);
    background-size: cover;
    text-align: center;
}

h1
{
    font-size:150px;
    line-height:100px;
    font-weight:bold;
    text-align: center;
}

h2
{
    font-size:100px;
    line-height:20px;
    font-weight:bold;
    text-align: center;
}

.button {
    background-color: #fff;
    border: none;
    color: grey;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }